.fireworks-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10003;
  overflow: hidden;
}

.firework-particle {
  position: absolute;
  border-radius: 50%;
  animation: firework-particle-animation 3.5s ease-out forwards;
  animation-delay: var(--delay);
  box-shadow: 0 0 15px currentColor, 0 0 30px currentColor;
  opacity: 0;
  will-change: transform, opacity;
}

@keyframes firework-particle-animation {
  0% {
    transform: translate(-50%, -50%) translate(0, 0) scale(1);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) translate(var(--x), var(--y)) scale(0);
    opacity: 0;
  }
}

